<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BitSW_JAVA/src/BitSW_JAVA/BitSW_JAVA_3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="BitSW_JAVA.BitSW_JAVA_3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BitSW_JAVA"/>
</launchConfiguration>
